<div class="form-group">
  <label for="bambino">Seleziona un bambino:</label>
  <select id="bambino" [(ngModel)]="selectedBambino" name="bambino" class="form-control">
    <option *ngFor="let bambino of bambini" [value]="bambino.idbambini">{{bambino.nome}} {{bambino.cognome}}</option>
  </select>
</div>
<div class="form-group">
  <label for="pet">Seleziona un pet:</label>
  <select id="pet" [(ngModel)]="selectedPet" name="pet" class="form-control">
    <option *ngFor="let pet of pets" [value]="pet.idpet">{{pet.nome}} ({{pet.razza}})</option>
  </select>
</div>
<button (click)="associaBambinoPet()">Associa</button>

<div>
  <button (click)="calcolaMedia()">Calcola media</button>
  <p *ngIf="media">La media dei pets posseduti da ogni bambino è: {{media}}</p>
</div>

